body {
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 10%;
}

.first-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
    font-style: italic;
}

.orange {
    color: orange;
}

.half-width img {
    width: 80%;
}

.half-width {
    padding-left: 5%;
    margin-top: 10px;
    width: 50%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, salmon);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.secend-part {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.third-part {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;


}

.fahim {
    margin-left: 5%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 2%;
    border-radius: 8px;
    height: 300px;
    border-left: 5px solid blue;
}

#full-stack {
    border-left: 5px solid orangered;
}

footer {
    text-align: right;
    color: darkolivegreen;
}