body {
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 10%;
}

.first-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.half-width img {
    width: 80%;
}

.half-width {
    padding-left: 5%;
    margin-top: 10px;
    width: 50%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, salmon);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.secend-part {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}